*.csv
__pycache__/
.vscode/

# Ignore all files in the data/raw and data/processed directories, but keep the directories themselves
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep